body{
  background-color: #50cace;
  margin: 150px;
}
table{
  background-color: grey;

}
td{
  width: 30px;
  height: 30px;
}
input{
  background-color: #b5bebf;
  width: 30px;
  height: 30px;
}
.texto{
  background-color: white;
  font-family: monospace;
  font-size: 20px;
}
.reiniciar{
  font-size: 20px;
  font-family: monospace;

}
.num1{
  font-size: 20px;
}

.num2{
  font-size: 20px;
}
